USE [master]
GO
/****** Object:  Database [unicat]    Script Date: 11-07-2024 23:57:11 ******/
CREATE DATABASE [unicat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'unicat', FILENAME = N'C:\Users\USER\unicat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'unicat_log', FILENAME = N'C:\Users\USER\unicat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [unicat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [unicat]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 11-07-2024 23:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(200,1) NOT NULL,
	[CourseName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoursesDetails]    Script Date: 11-07-2024 23:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursesDetails](
	[CoursesID] [int] IDENTITY(400,1) NOT NULL,
	[CourseImage] [varchar](100) NULL,
	[CourseName] [varchar](100) NULL,
	[CourseDesc] [varchar](100) NULL,
	[CourseTeacherName] [varchar](100) NULL,
	[CoursePrice] [decimal](10, 2) NULL,
	[StudentCount] [int] NULL,
	[rating] [int] NULL,
	[CourseID] [int] NULL,
	[SubCourseID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CoursesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseVideos]    Script Date: 11-07-2024 23:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseVideos](
	[VideoID] [int] IDENTITY(1,1) NOT NULL,
	[CoursesID] [int] NOT NULL,
	[VideoTitle] [nvarchar](100) NOT NULL,
	[VideoLink] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCourse]    Script Date: 11-07-2024 23:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCourse](
	[SubCourseID] [int] IDENTITY(300,1) NOT NULL,
	[SubCourseName] [varchar](100) NULL,
	[CourseID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubCourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11-07-2024 23:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[UserID] [int] IDENTITY(100,1) NOT NULL,
	[Username] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[Urole] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CoursesDetails] ADD  DEFAULT ((0)) FOR [StudentCount]
GO
ALTER TABLE [dbo].[CoursesDetails] ADD  DEFAULT ((0)) FOR [rating]
GO
ALTER TABLE [dbo].[CourseVideos]  WITH CHECK ADD  CONSTRAINT [FK_CourseVideos_CoursesDetails] FOREIGN KEY([CoursesID])
REFERENCES [dbo].[CoursesDetails] ([CoursesID])
GO
ALTER TABLE [dbo].[CourseVideos] CHECK CONSTRAINT [FK_CourseVideos_CoursesDetails]
GO
ALTER TABLE [dbo].[SubCourse]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
/****** Object:  StoredProcedure [dbo].[AddCourse]    Script Date: 11-07-2024 23:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddCourse] 
@CourseName varchar(100)
as 
begin
	Insert Course (CourseName) values (@CourseName);
end
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 11-07-2024 23:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddUser] 
@username varchar(100),
@email varchar(100),
@password varchar(100),
@Urole varchar(100)
as 
begin
	Insert users (Username,Email,password,Urole) values (@username,@email,@password,@Urole)
end
GO
/****** Object:  StoredProcedure [dbo].[fetchUser]    Script Date: 11-07-2024 23:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[fetchUser]
as 
begin
	 select * from users

end
GO
USE [master]
GO
