.main-container{
    display:flex
}

.iframe-container {
    flex: 65%;
    padding: 10px;
    background-color: #13c4ec;
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.video-list-container {
    background-color: #13c4ec;
    border-radius: 15px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.video-title {
    display:flex;
    flex: 30%;
    padding: 10px;
    cursor: pointer;
    background-color: #d0f3fb;
    margin-top: 2px;
    border-radius: 10px;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
}



